*.o
*.tmp
*.d
*.swp
*.ko
*.cmd
*.a
*.bin
*~
*.sw*
*#
.#*
**/.DS_Store
.fn_dependencies
.fn_exports
.exported_interfaces
composite_new
*.out
tags
src/kernel/include/shared/cpu_ghz.h
src/Makefile.cosconfig
src/platform_info
modules.order
.depend
*.img
*.out
transfer/
GPATH
GRTAGS
GSYMS
GTAGS
tools/.vagrant
